@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Miriam+Libre&family=Mr+Dafoe&family=Syncopate:wght@700&display=swap');

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

html {
  overflow-x: hidden
}

main {
  position: absolute;
  color: white;
}

.viewportContainer {
  height: 100vh;
  border: 1px solid #f00;
  justify-content: center;
}

.viewportContainer:nth-child(8) {
  height: 280vh;
  border: 1px solid white;
  justify-content: center;
}

h1 {
  font-size: 5vw;
  font-weight: 700;
  font-family: 'Syncopate', sans-serif;
  padding-top: 14vw;
  line-height: 110.2%;
  width: 25%;
  margin: 0;
  padding-left: 8vw;
}

h2 {
  font-size: 2vw;
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
  width: 35%;
  padding-left: 8vw;
}


.square {
  font-size: 3vw;
  font-weight: 100;
  font-family: 'Miriam Libre', sans-serif;
  padding-top: 10vw;
  padding-left: 10vw;
  line-height: 110.2%;
  width: 50%;
  margin: 0;
  opacity: 1;
  transition: opacity 2s;
}

.square2 {
  font-size: 1.5vw;
  font-weight: 100;
  font-family: 'Inconsolata', monospace;
  padding-left: 10vw;
  line-height: 110.2%;
  width: 30%;
  margin: 0;
  opacity: 1;
  transition: opacity 2s;
}

.square3 {
  font-size: 2.5vw;
  font-weight: 400;
  text-align: end;
  padding-left: 25%;
  padding-top: 1%;
  font-family: 'Mr Dafoe', cursive;
  width: 30%;
  transition: opacity 2s;
  bottom: 200px;
  
  -ms-transform: rotate(-20deg); 
  -moz-transform: rotate(-20deg); 
  -webkit-transform: rotate(-20deg); 
  -o-transform: rotate(-20deg); 
  transform: rotate(-20deg);
}

.square4 {
  font-size: 3vw;
  font-weight: 100;
  font-family: 'Miriam Libre', sans-serif;
  padding-top: 10vw;
  padding-bottom: 1vw;
  line-height: 110.2%;
  opacity: 1;
  transition: opacity 2s;
}

.square5 {
  font-size: 1.5vw;
  font-weight: 100;
  font-family: 'Inconsolata', monospace;
  padding-left: 10vw;
  padding-top: 7vh;
  line-height: 110.2%;
  width: 30%;
  margin: 0;
  opacity: 1;
  transition: opacity 2s;
}

.whitebar-left {
  background-color: white;
  position: absolute;
  left: -11%;
  height: 100%;
  width: 10%;
  transition: .5s;
}

.whitebar-right {
  background-color: white;
  position: absolute;
  right: -11%;
  height: 100%;
  width: 10%;
  transition: .5s;
}

.team-member {
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: start;
  
}

.team-member:nth-child(odd) {
  grid-template-columns: 70% 30%;
  text-align: end;
}


.name {
  text-align: center;
  color: black;
  background-color: white;
  font-size: 1.5vw;
  font-weight: 100;
  font-family: 'Miriam Libre', sans-serif;
  border-radius: 1.5vw;
  margin: 2vw;
  height: 22vh;
  margin-top: auto;
  box-shadow: 0px 4px 18px 4px rgba(0, 0, 0, 0.5);
}

.bio {
  color: white;
  background-color: #171717;
  font-size: 1.5vw;
  font-weight: 100;;
  font-family: 'Miriam Libre', sans-serif;
  border-radius: 1.5vw;
  margin: 2vw;
  height: 28vh;
  box-shadow: 0px 4px 18px 4px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(.4vw .4vw 0px #2E2E2E);
}

.centered {
  text-align: center;
  margin: auto;
  width: 60vw;
}

.pfp {
  width: 45%;
  height: 55%;
  border-radius: 50%;
  position: relative;
  top: -25%;
}

.bio-title {
  font-size: 2vw;
  font-weight: 100;
  padding-top: 4vh;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  font-family: 'Miriam Libre', sans-serif;
  line-height: 110.2%;
  opacity: 1;
  transition: opacity 2s;
}

.bio-content {
  font-size: 1vw;
  padding: 3.5vw;
  padding-top: 2vh;
}

.gallery-text {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 10vh;
}

.gallery {
  width: 50%;
  display: grid; 
  grid-auto-columns: 1fr; 
  row-gap: 2vh;
  position: absolute;
  right: 0;
}

.gallery > img {
  width: 100%;
  height: auto;
  transition: 1s;
  opacity: 0;
}

.gallery > img:nth-child(2) {
  transition-delay: 0.2s;
}
.gallery > img:nth-child(3) {
  transition-delay: 0.4s;
}
.gallery > img:nth-child(4) {
  transition-delay: 0.8s;
}

.gallery-button {
  color: white;
  border: 2px solid white;
  border-radius: 0px;
  margin-top: 5vh;
  margin-left: 10vw;
  padding: 1.5vh 1.5vw;
  display: inline-block;
  font-family: 'Miriam Libre', sans-serif;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 0 white;
  -ms-transition: ease-out 0.4s; 
  -moz-transition: ease-out 0.4s; 
  -webkit-transition: ease-out 0.4s; 
  -o-transition: ease-out 0.4s; 
  transition: ease-out 0.4s;
}

.gallery-button:hover {
  color: black;
  box-shadow: inset 400px 0 0 0 white;
}

